<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Heroe Component Works
    </a>
  </div>
</nav>
<h1> {{ nombre }} </h1>

<dl>
    <td>Nombre:</td>
    <dd> {{nombre}} </dd>

    <td>Edad:</td>
    <dd> {{edad}} </dd>

    <td>Función:</td>
    <dd> {{obtenerNombre()}} </dd>

    <td>Capitalizado:</td>
    <dd> {{nombreCapitalizado}} </dd>
</dl>

<button type="button" class="btn btn-dark" (click)="cambiarNombre()">Cambiar Héroe</button>
<button type="button" class="btn btn-dark">Cambiar Edad</button>
