.main-container {
  display: flex;
    div {
      flex-grow: 1;
      margin: 10px;
    }
}

input {
  display: block;
  margin: 5px;
}

.img-thumbnail {
  width: 150px;
  height: 150px;
}

.flex-container {
  display: flex;
}
