<h3>Agregar</h3>
<hr>

<form (ngSubmit)="agregar()">
  <div class="mb-3">
    <label class="form-label">Nombre del Personaje</label>
    <input type="text"
           class="form-control"
           name="nombre"
           [(ngModel)]="nuevoPersonaje.name">
    <div class="form-text">Aquí rellenaras el nombre del personaje.</div>
  </div>
  <div class="mb-3">
    <label  class="form-label">Nivel de Poder</label>
    <input type="text"
          class="form-control"
          name="attack"
          placeholder="0 hasta &#8734;"
          [(ngModel)]="nuevoPersonaje.attack">
  </div>

  <div class="mb-3">
    <label  class="form-label">Habilidades</label>
    <input type="text"
          class="form-control"
          name="poder"
          [(ngModel)]="nuevoPersonaje.abilities">
  </div>
  <div class="mb-3">
    <label  class="form-label">Seleccione Raza:</label>
    <select class="form-select"
            [(ngModel)]="nuevoPersonaje.race"
            name="race"
            aria-label="Default select example">
      <option *ngFor="let raza of razas">{{raza}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>
